ul {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 2fr 2fr;
    justify-content:center;
    justify-items: center;
    align-items: center;
    grid-gap: 50px;
}

.menu li {
    border: 1px solid darkgreen;
    border-radius: 1em;
    background-color: darkgreen;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    list-style-type: none
}

main {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 2fr 2fr;
    justify-content:center;
    justify-items: center;
    align-items: center;
}

body {
    
}